{% load static %}

<a href="/restaurant/items/{{ object.pk }}/" class="d-block h-100  w-100">
  <div class="border h-100 restaurant-card">
    <img src="{% static object.static_image_path %}" class="bg-white restaurant-card-img" />
    <div class="bg-light text-center text-secondary overflow-hidden">
      <div class="my-2 py-2">
        <h2 class="lead">{{object.name}} - ¥{{object.price}}</h2>
        <form action="/cart/add/" method="POST" class="p-2">
          {% csrf_token %}
          <input type="hidden" name="item_pk" value="{{object.pk}}" />
          <div class="form-row align-items-center">
            <div class="col-md-7">
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</a>